/**
 * eksamensprojekt: Jolly Cola
 **/

/* Adobe fonts */
@import url("https://use.typekit.net/vzd5ibg.css");
/* font-family: 'filicudi-solid', sans-serif; font-weight: 400; font-style: normal; */
@import url("https://use.typekit.net/vzd5ibg.css");
/* font-family: 'interface', sans-serif; font-weight: 700; font-style: normal; */
@import url("https://use.typekit.net/vzd5ibg.css");
/* font-family: 'myriad-pro', sans-serif; font-weight: 400; font-style: normal; */

/* Variabler*/
:root {
  /* farver */
  --white: #F5EFE9;
  --yellow: #F6C974;
  --orange: #FFA83E;
  --red: #E3212C;
  --darkred: #C82027;
  --brown: #3C2815;
  --black: #030303;

  /* whitespace */
  --whitespace: .5rem;

  /* fonte */
  --overskrift1: 'filicudi-solid', sans-serif; /* overskrift 1 */
  --overskrift2: 'interface', sans-serif; /* overskrift 2 */
  --brødtekst: 'myriad-pro', sans-serif; /* brødtekst */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Wrap */
#wrap {
  min-height: 100vh;
  margin: auto;
}

/*baggrund */
body {
  background-size:100% auto;
  background-color: var(--white);
}

/* Typography */
h1 {
  font-family: var(--overskrift1);
  margin-top: var(--whitespace);
  margin-bottom: var(--whitespace);
}
h2, h3 {
  font-family: var(--overskrift2);
  margin-top: var(--whitespace);
  margin-bottom: var(--whitespace);
}
p {
  font-family: var(--brødtekst);
  margin-top: var(--whitespace);
  margin-bottom: var(--whitespace);
}

/* Billeder */
img {
  width: 100%;
}

/* navigationsbar computer */
#navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    width: 100%;
    background-color: var(--darkred);
}

/* Dropdown Button - https://www.w3schools.com/howto/howto_css_dropdown.asp */
.dropbtn {
  color: var(--white);
  padding-bottom: 16px;
  padding-top: 16px;
  font-family: var(--overskrift1);
  text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--darkred);
  min-width: 160px;
  z-index: 1;
  margin-top: 16px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: var(--overskrift1);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--brown);
  color: var(--white);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn:hover {
  color: var(--brown);
  cursor: pointer;
}

.navigationsearch {
text-decoration: none;
color: var(--brown);
font-family: var(--overskrift1);
}

/* BURGERMENU */
 nav a {
  color: var(--white);
  text-decoration: none;
  /* font-size: 150%; */
}
/* BURGERMENU - MENUBAR */
#navigationburger {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
    width: 100%;
}
.btnburger {
  color: var(--brown);
  font-family: var(--overskrift1);
  font-size: 150%;
  text-decoration: none;
}
.navburger {
  padding: 20px;
}


/* header */
header {
  position: relative;
  width: 100%;
  background-color: var(--darkred)
}

/* FOOTER */
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--darkred);
  color: var(--white);
}
footer h4 {
  font-family: var(--overskrift1);
  margin-bottom: 13px;
}
footer p {
  font-size: 15px;
}
footer a {
  text-decoration: none;
  font-size: 15px;
  font-family: var(--brødtekst);
  color: var(--white);
  margin-top: var(--whitespace);
  margin-bottom: var(--whitespace);
}
footer a:hover {
  color: var(--brown);
}
.footer {
  /*text-align: center; */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  padding: 70px;
  padding-top: 90px;
  padding-bottom: 60px;
  /* flex-direction: column; */
}
.footer img{
  width: 27%;
  height: auto;
  margin-top: 10px;
}
#copyright {
  text-align: center;
  font-family: var(--brødtekst);
  font-size: 13px;
  color: var(--white);
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px;
}


/* JOLLY QUIZ - header */
.headerjollyquiz h1 {
  position: absolute;
  font-family: var(--overskrift1);
  color: var(--white);
  text-align: left;
}
/* JOLLY QUIZ - section 1 */
.jollyquiz {
  background-color: var(--darkred);
  width: 100%;
  height: 290px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  flex-direction: row-reverse;
}
.jollyquiz h2 {
  color: var(--white);
  text-shadow: 0px 0px 5px var(--brown);
  width: 29ch;
}
.jollyquiz img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* JOLLY QUIZ - sådan gør du */
.sådangørdu h2 {
  color: var(--brown);
  text-align: center;
}
.sådangørdu img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* JOLLY QUIZ - steps */
.steps {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  margin-left: 3%;
  margin-right: 3%;
}
.steps h3 {
  color: var(--black);
}
.steps p {
  color: var(--black);
  width: 20ch;
  margin-bottom: 30px;
}
/* JOLLY QUIZ - vidste du */
/* .vidstedu {
  background-color: var(--yellow);
  width: 100%;
  height: 494px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  flex-direction: row-reverse;
} */
.vidstedu h2 {
  color: var(--brown);
  font-family: var(--overskrift1);
}
.vidstedu h3 {
  color: var(--brown);
}
.vidstedu img {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* .vidstedu img{
  margin-left: 0;
  margin-top: 30px;
}
*/
/* JOLLY QUIZ - vidste du button */ /* https://www.w3schools.com/css/tryit.asp?filename=trycss_link_advanced */
.vidstedu a {
  font-family: var(--overskrift2);
  font-size: 20px;
}
.vidstedu a:link, .vidstedu a:visited {
  background-color: var(--brown);
  color: var(--white);
  padding: 14px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 0px 5px var(--brown);
}
.vidstedu a:hover, .vidstedu a:active {
  background-color: var(--darkred);
}

/* DIN JOLLY QUIZ - section 1 */
.dinjollyquiz {
  background-color: var(--darkred);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
.dinjollyquiz h2 {
  color: var(--white);
  text-shadow: 0px 0px 5px var(--brown);
  width: 29ch;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.dinjollyquiz img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* DIN JOLLY QUIZ - hjernevridder */
.hjernevrider img{
  margin-top: 40px;
  margin-bottom: 15px;
}
.hjernevrider h3 {
  font-family: var(--overskrift2);
  color: var(--brown);
  width: 23ch;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hjernevrider p {
  font-family: var(--brødtekst);
  color: var(--brown);
  width: 23ch;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hjernevrider p a {
  color: var(--red);
  text-decoration: none;
}
.hjernevrider p a:hover {
  color: var(--brown);
}
/* DIN JOLLY QUIZ - buttons*/
.btnhjernevrider {
  /*display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column; /* PLACER I MIDTE - aflang */
}
/* DIN JOLLY QUIZ - button download */
.btn1hjernevrider {
  font-family: var(--overskrift2);
  /* display: block;
  margin-left: 50px;
  margin-right: 50px; */ /* PLACER I MIDTE */
}
.btn1hjernevrider:link, .btn1hjernevrider:visited {
  background-color: var(--brown);
  color: var(--white);
  padding: 14px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 0px 5px var(--brown);
}
.btn1hjernevrider:hover, .btn1hjernevrider:active {
  background-color: var(--darkred);
}
/* DIN JOLLY QUIZ - button se løsningen */
.btn2hjernevrider {
  font-family: var(--overskrift2);
}
.btn2hjernevrider:link, .btn2hjernevrider:visited {
  background-color: var(--red);
  color: var(--white);
  padding: 14px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 0px 5px var(--brown);
}
.btn2hjernevrider:hover, .vidstedu:active {
  background-color: var(--darkred);
}
.hjernevrider {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* burgermenu */
  .burgermenu {
    display: contents;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .burgermenu .bar{
    height: 3px;
    width: 100%;
    background-color: var(--black);
    border-radius: 10px;
  }
  /* fjern nav computer */
  .dropdown {
    display: none;
  }
  .navigationsearch {
  display: none;
  }
  /* FOOTER */
  footer h4 {
    margin-bottom: 13px;
    margin-top: 30px;
    font-size: 19px;
  }
  footer p {
    font-size: 18px;
  }
  footer a {
    font-size: 18px;
  }
  .footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
  }
  .footer img{
    width: 30%;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  /* JOLLY QUIZ - header */
  .headerjollyquiz h1 {
    padding-left: 31%;
    padding-right: 10%;
    top: 5%;
    font-size: 26px;
  }
  .headercom {
    display: none;
  }
  .headermobil {
    display: inline;
  }
  /* JOLLY QUIZ - section 1 */
  .jollyquiz h2 {
    text-align: center;
    margin: 30px;
    margin-top: 10px;
    font-size: 25px;
  }
  .jollyquiz img{
    width: 70%;
    padding-top: 40px;
  }
  /* JOLLY QUIZ - sådan gør du */
  .sådangørdu h2 {
    font-size: 38px;
    margin-top: 50px;
  }
  /* JOLLY QUIZ - steps */
  .steps h3 {
    text-align: center;
    font-size: 27px;
  }
  .steps p {
    text-align: center;
    font-size: 22px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .sådangørdu img {
    display: none;
  }
  .step1 img, .step2 img, .step3 img {
    display: inherit;
    width: 89%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  /* DIN JOLLY QUIZ - section 1 */
  .dinjollyquiz {
    height: 300px;
    justify-content: center;
  }
  .dinjollyquiz h2 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .dinjollyquiz img{
    width: 70%;
    margin-top: 0px;
  }
  /* DIN JOLLY QUIZ - hjernevridder */
  .hjernevrider img{
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .hjernevrider h3 {
    text-align: center;
  /*  display: block;
    margin-left: auto;
    margin-right: auto;*/
    font-size: 25px;
  }
  .hjernevrider p {
    text-align: center;
  /*  display: block;
    margin-left: auto;
    margin-right: auto;*/
    font-size: 20px;
  }
  .hjernevrider p a {
    display: none;
  }
  /* DIN JOLLY QUIZ - buttons*/
  .btnhjernevrider {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column; /* PLACER I MIDTE / column */
  }
  /* DIN JOLLY QUIZ - button download */
  .btn1hjernevrider {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* DIN JOLLY QUIZ - button se løsningen */
  .btn2hjernevrider {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
  /* vis burgermenu */
  .burgermenu {
    display: contents;
  }
  /* fjern nav computer */
  .dropdown {
    display: none;
  }
  /* FOOTER */
  footer h4 {
    margin-bottom: 13px;
    margin-top: 30px;
    font-size: 19px;
  }
  footer p {
    font-size: 18px;
  }
  footer a {
    font-size: 18px;
  }
  .footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
  }
  .footer img{
    width: 15%;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  /* JOLLY QUIZ - header */
  .headerjollyquiz h1 {
    padding-left: 56%;
    padding-right: 7%;
    top: 18%;
    font-size: 33px;
  }
  .headermobil {
    display: none;
  }
  .headercom {
    display: inline;
  }
  /* JOLLY QUIZ - section 1 */
  .jollyquiz h2 {
    text-align: center;
    margin: 30px;
    margin-top: 10px;
    font-size: 25px;
  }
  .jollyquiz img{
    width: 70%;
    padding-top: 40px;
  }
  /* JOLLY QUIZ - sådan gør du */
  .sådangørdu h2 {
    font-size: 38px;
    margin-top: 70px;
  }
  /* JOLLY QUIZ - steps */
  .steps h3 {
    text-align: center;
    font-size: 27px;
  }
  .steps p {
    text-align: center;
    font-size: 22px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .sådangørdu img {
    display: none;
  }
  .step1 img, .step2 img, .step3 img {
    display: inherit;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin: 50px;
    margin-bottom: 15px;
  }
  /* DIN JOLLY QUIZ - section 1 */
  .dinjollyquiz {
    height: 300px;
    justify-content: center;
  }
  .dinjollyquiz h2 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .dinjollyquiz img{
    width: 70%;
    margin-top: 0px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* fjern burgermenu */
  .burgermenu {
    display: none;
  }
  /* vis nav computer */
  .dropdown {
    display: inline;
  }
  /* FOOTER */
  footer h4 {
    margin-bottom: 13px;
    margin-top: 30px;
    font-size: 19px;
  }
  footer p {
    font-size: 18px;
  }
  footer a {
    font-size: 18px;
  }
  .footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
  }
  .footer img{
    width: 14%;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  /* JOLLY QUIZ - header */
  .headerjollyquiz h1 {
    padding-left: 52%;
    padding-right: 0;
    top: 26%;
    font-size: 31px;
  }
  .headermobil {
    display: none;
  }
  .headercom {
    display: inline;
  }
  /* JOLLY QUIZ - section 1 */
  .jollyquiz {
    align-items: center;
  }
  .jollyquiz h2 {
    text-align: left;
    margin: 30px;
    margin-top: 10px;
    font-size: 25px;
  }
  .jollyquiz img{
    width: 70%;
    padding-top: 10px;
  }
  /* JOLLY QUIZ - sådan gør du */
  .sådangørdu h2 {
    font-size: 38px;
    margin-top: 70px;
  }
  /* JOLLY QUIZ - steps */
  .steps h3 {
    text-align: left;
    font-size: 27px;
  }
  .steps p {
    text-align: left;
    font-size: 22px;
  }
  .step1 img, .step2 img, .step3 img {
    display: none;
  }
  .sådangørdu img {
    display: inherit;
  }
  /* DIN JOLLY QUIZ - section 1 */
  .dinjollyquiz {
    height: 300px;
    flex-direction: column;
    gap: 40px;
  }
  .dinjollyquiz h2 {
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .dinjollyquiz img{
    width: 30%;
    margin-top: 0px;
    margin-bottom: 90px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* fjern burgermenu */
  .burgermenu {
    display: none;
  }
  /* vis nav computer */
  .dropdown {
    display: inline;
  }
  /* FOOTER */
  footer h4 {
    margin-bottom: 13px;
  }
  footer p {
    font-size: 15px;
  }
  footer a {
    font-size: 15px;
  }
  .footer {
    text-align: left;
    padding-top: 90px;
    padding-bottom: 60px;
    flex-direction: row;
  }
  .footer img{
    width: 27%;
    margin-top: 30px;
  }
  /* JOLLY QUIZ - header */
  .headerjollyquiz h1 {
    padding-left: 52%;
    top: 26%;
    font-size: 38px;
  }
  .headermobil {
    display: none;
  }
  .headercom {
    display: inline;
  }
  /* JOLLY QUIZ - section 1 */
  .jollyquiz {
    align-items: center;
  }
  .jollyquiz h2 {
    text-align: left;
    margin: 30px;
    margin-top: 10px;
    font-size: 30px;
  }
  .jollyquiz img{
    width: 70%;
    padding-top: 10px;
  }
  /* JOLLY QUIZ - sådan gør du */
  .sådangørdu h2 {
    font-size: 38px;
    margin-top: 70px;
  }
  /* JOLLY QUIZ - steps */
  .steps h3 {
    text-align: left;
    font-size: 27px;
  }
  .steps p {
    text-align: left;
    font-size: 22px;
  }
  .step1 img, .step2 img, .step3 img {
    display: none;
  }
  .sådangørdu img {
    display: inherit;
  }
  /* DIN JOLLY QUIZ - section 1 */
  .dinjollyquiz {
    height: 320px;
    flex-direction: column;
    gap: 40px;
  }
  .dinjollyquiz h2 {
    font-size: 38px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .dinjollyquiz img{
    width: 30%;
    margin-top: 0px;
    margin-bottom: 110px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* fjern burgermenu */
    .burgermenu {
      display:none;
    }
  /* vis nav computer */
  .dropdown {
      display: inline;
  }
  /* FOOTER */
  footer h4 {
    margin-bottom: 13px;
  }
  footer p {
    font-size: 15px;
  }
  footer a {
    font-size: 15px;
  }
  .footer {
    text-align: left;
    padding-top: 90px;
    padding-bottom: 60px;
    flex-direction: row;
  }
  .footer img{
    width: 27%;
    margin-top: 30px;
  }
  /* JOLLY QUIZ - header */
  .headerjollyquiz h1 {
    padding-left: 52%;
    top: 26%;
    font-size: 44px;
  }
  .headermobil {
    display: none;
  }
  .headercom {
    display: inline;
  }
  /* JOLLY QUIZ - section 1 */
  .jollyquiz {
    align-items: center;
  }
  .jollyquiz h2 {
    text-align: left;
    margin: 30px;
    margin-top: 10px;
    font-size: 30px;
  }
  .jollyquiz img{
    width: 80%;
    padding-top: 10px;
  }
  /* JOLLY QUIZ - sådan gør du */
  .sådangørdu h2 {
    font-size: 38px;
    margin-top: 70px;
  }
  /* JOLLY QUIZ - steps */
  .steps h3 {
    text-align: left;
    font-size: 27px;
  }
  .steps p {
    text-align: left;
    font-size: 22px;
  }
  .step1 img, .step2 img, .step3 img {
    display: none;
  }
  .sådangørdu img {
    display: inherit;
  }
  /* DIN JOLLY QUIZ - section 1 */
  .dinjollyquiz {
    height: 380px;
    flex-direction: column;
    gap: 50px;
  }
  .dinjollyquiz h2 {
    font-size: 38px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .dinjollyquiz img{
    width: 22%;
    margin-top: 0px;
    margin-bottom: 130px;
  }
  /* DIN JOLLY QUIZ - hjernevridder */
  .hjernevrider {
    /*flex-direction: row; */
  }
  .hjernevrider img{
    width: 48%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 40px;
    margin-bottom: 15px; */
  }
  .hjernevrider h3 {
    text-align: left;
    margin-left: 10px;
    margin-right: auto;
    font-size: 25px;
  }
  .hjernevrider p {
    text-align: left;
    margin-left: 10px;
    margin-right: auto;
    font-size: 20px;
  }
  .hjernevrider p a {
    display: contents;
  }
  /* DIN JOLLY QUIZ - buttons*/
  .btnhjernevrider {
    flex-direction: column;
  }
  /* DIN JOLLY QUIZ - button download */
  .btnhjernevrider .btn1hjernevrider {
    display: none;
  }
  /* DIN JOLLY QUIZ - button se løsningen */
  .btn2hjernevrider {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
  }
}
